.category-block {
    .list-cate {
        &.style-three {
            .swiper {
                padding: 24px 0;

                .item {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -24px;
                        width: 0;
                        height: 2px;
                        background-color: var(--primary);
                        transition: all ease 0.4s;
                    }

                    &:hover,
                    &.active {
                        span {
                            color: var(--primary);
                        }

                        .text-title {
                            color: var(--black);
                        }

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}