.category-block {
    .list-cate {
        &.style-three {
            .swiper {
                padding: 24px 0;

                .item {
                    position: relative;

                    &:hover,
                    &.active {
                        span {
                            color: var(--primary);
                        }

                        .text-title {
                            color: var(--black);
                        }
                    }
                }
            }
        }
    }
}